<!-- views/search.ejs -->
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Résultats de recherche<% if (query) { %> pour "<%= query %>"<% } %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="/css/research.css">
</head>

<body>
  <div class="head-div">
    <!-- Icône retour -->
    <div id="back-div">
      <a id="back-to-catalogue" href="http://localhost:5000/">
        <p><i class="fa-solid fa-arrow-left-long" id="back-to-catalogue"></i> <span id="back-to-catalogue">Retour au
            catalogue</span></p>
      </a>

    </div class="form-div">
    <form action="/search" method="GET" class="search-form">
      <input type="text" name="q" value="<%= query %>" placeholder="Rechercher un produit...">
      <button type="submit">Chercher</button>
    </form>
  </div>


  <div class="filter-contain">
    <div class="filter-bar">

      <span class="style-gray" style="margin: 0;">
        <span class="result-amount">237</span>
        &nbsp;
        résultat
      </span>

      <button class="button-filter">
        <span>Filtrer</span>&nbsp;
        <span class="number-result-amount">0</span>
      </button>

    </div>

  </div>

  <div class="research-title">
    <% if (query) { %>
      <h1>Résultats pour "<%= query %>"</h1>
      <% } %>
    </div>

  <div class="search-results">


    <% if (message) { %>
      <p class="search-message">
        <%= message %>
      </p>
      <% } %>

        <% if (results && results.length> 0) { %>
          <% results.forEach(product=> { %>
            <!-- Réutilise ton partial de product card si tu en as déjà un -->
            <p>
              <%= product.name %>
            </p>
            <% }) %>
              <% } %>

  </div>

</body>

</html>